<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://estaciona-facil-api-gnhceud7ayexb2c9.scm.canadacentral-01.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/7a446f36-0c6d-4184-9b29-9bd7f646822b/resourceGroups/estaciona-facil/providers/Microsoft.ContainerRegistry/registries/EstacionamentoApi</ContainerResourceId>
    <ContainerResourceName>EstacionamentoApi</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>estacionamentoapi.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/7a446f36-0c6d-4184-9b29-9bd7f646822b/resourceGroups/estaciona-facil/providers/Microsoft.Web/sites/estaciona-facil-api</ResourceId>
    <ResourceGroup>estaciona-facil</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://estaciona-facil-api-gnhceud7ayexb2c9.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3d091cab-56b2-414c-a9ae-d6a498b1f471</ProjectGuid>
  </PropertyGroup>
</Project>