name: estaciona-facil

services:
  api:
    container_name: api
    image: ${DOCKER_REGISTRY-}api
    build:
      context: .
      dockerfile: Estacionamento.Api/Dockerfile

    restart: always
    networks:
      - api-network
    depends_on:
      - db-estacionamento

  db-estacionamento:
    container_name: db-estacionamento
    image: postgres:latest
    restart: always
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=EstacionamentoDB
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - api-network

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: marcosfas.dev@gmail.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - db-estacionamento
    networks:
      - api-network
 
volumes:
  db_data:
    driver: local

networks:
  api-network:
    driver: bridge